.navbar {
    background-color:#FFF !important;
}

.logo {
    position: fixed;
    left: 10%;
}

.topNav {
    position: fixed;
    right: 10%;
}

.topNav li {
    padding-left: 40px;
    color: #3c0979;
    font-weight: bold;
}